<% include header %>
    <div class="container p-2 mt-3 d-flex justify-content-center">
        <h1>CRUD de Produtos</h1>
    </div>
    <div class="container">
        <div class="row bg-primary border-bottom rounded p-1 text-white">
            <div class="col d-flex justify-content-center">Nome</div>
            <div class="col d-flex justify-content-center">Descrição</div>
            <div class="col d-flex justify-content-center">Preço</div>
            <div class="col d-flex justify-content-center">Ações</div>
        </div>
        <%for(let i=0; i<products.length;i++) {%>
            <div class="row active border-bottom rounded p-1">
                <div class="col d-flex justify-content-center align-items-center">
                    <span><%=products[i].nome%></span>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span><%=products[i].descricao%></span>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span><%=products[i].preco%></span>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-warning m-1">Editar</button>
                    <button type="button" class="btn btn-danger m-1">Deletar</button>
                </div>
            </div>
        <%}%>
    </div>
    <div class="container mt-5">
        <div class="row bg-primary border-bottom rounded p-1 text-white">
            <div class="col d-flex justify-content-center">Cadastro/Atualização</div>
        </div>
        <div class="form row bg-light p-3 rounded">
            <form action="/products" method="post">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" id="nome" name="nome" type="text" placeholder="Digite o nome do produto" />
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input class="form-control" id="descricao" name="descricao" type="text" placeholder="Digite a descrição do produto" />
                </div>
                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input class="form-control" id="preco" name="preco" type="text" placeholder="Digite o preço do produto" />
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="m-1"><button type="submit" class="btn btn-outline-primary">Enviar</button></div>
                    <div class="m-1"><button type="submit" class="btn btn-outline-secondary">Limpar</button></div>
                </div>
            </form>
        </div>
    </div>
<% include footer %>