div.list ul li {
    float: left;
    list-style-type: none;
    padding-left: .5em;
}

form {
    width: 100%;
}

html.height-100, html.height-100 body, html.height-100 body div.container, html.height-100 body div.row {
    height: 100%;
}

#btn-edit-send {
    display: none;
}