<!DOCTYPE html>
<html class="height-100">
    <head>
        <title>Page not found</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="shortcut icon" href="favicon.ico"> -->

        <!-- <link rel="stylesheet" href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <section class="banner">
            <div class="wrapper">
                <div class="main-title">
                    <h1 class="primary-text">404</h1>
                </div>
                <div class="main-subtitle">
                    <p>This page you accessed does not exist.</p>
                </div>
                <div class="banner-buttons">
                    <a href="/">Return to home page</a>
                </div>
            </div>
        </section>
    </body>
</html>