<!DOCTYPE html>
<html class="height-100">
    <head>
        <title>Page not found</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="error-template text-center">
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, requested page was not found!
                    </div>
                    <div class="error-actions mt-3">
                        <a href="/" class="btn btn-primary btn-lg">Take Me Home</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>